*{
    font-family: sans-serif;
}

.moda{
    width: 50%;
    height: 200px; 
 }

.moda tr {
    background-color: #424250;
    color: white;
    text-align: center;
    
    
        
}

.produto-moda th {
    background-color: #bb86fc;
    
     
}

.casa{
    width: 50%;
    height: 200px;
}

.casa tr {
    background-color: #424250;
    color: white;
    text-align: center;
}

.head-casa th{
    background-color: #00c4b4;
}
   