
.tabela th{
    padding: 10px;
    background-color: #bb86fc;
    color: white;
}

.tabela td{
    padding: 10px;
    background-color: #424250;
    color: white;
}

.tabelacasa th{
    padding: 10px;
    background-color: #00c4b4;
    color: white;
}

.tabelacasa td{
    padding: 10px;
    background-color: #424250;
    color: white;
}